@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');
* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: 0;
    border: 0;
    font-family: 'Tajawal', sans-serif;
}


.navbar{
    background-color:black ;
    width: 100%;
    color: aliceblue;
    padding: 15px ;
    text-transform: capitalize;
    height: 60px;
}
ul {
 margin-right: 150px;
}

h3,nav,ul li{
    display: inline-block;
}
nav{
    float: right;
}

li {
    padding-right: 15px;
    vertical-align: middle;

    
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: aliceblue;
    justify-content: center;
    place-items: center;
    background-color: rgb(77, 77, 90);
}
h3 {
    padding-left: 250px;
}
.div1 {
    text-transform: capitalize;

}
i {
    color: black;
    margin-left: 15px;
    margin-bottom: 20px;
    font-size: 25px;
}

h2 {
    color: aliceblue;
    font-size: 39px;

}
p {
    font-size: 19px;
}
.div4{
    
    
}
.butt1 {
    font-size: 15px ;
    margin : 9px ;
    padding: 6px 16px;
    border-radius: 15px;
   background-color: transparent;
   border-color: brown;
  text-transform: capitalize;
border: 1px solid brown;
   
}


.butt2 i {
    vertical-align: middle;
}
.butt2 {
    font-size: 15px ;
    margin : 9px ;
    padding: 1px 15px;
    border-radius: 15px;
    background-color: brown;
    
   

}
.diva {

    background-color: rgb(54, 49, 49);
    text-align: center;
    
}
.gridcon {
      background-color: rgb(54, 49, 49);
      display: grid;
      grid-template-columns: 1fr 1fr 1fr ;
      justify-content: center;
      place-items: center;
      
      
      
    }
    .om{

        background-color: rgb(54, 42, 42);
        width: 50%;
        text-align: center;
        border-radius: 15px;
    }
    span{
        color: brown;
    }